POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
AUTH_DB=skillmatch_auth
PROFILE_DB=skillmatch_profile
JOB_DB=skillmatch_job
APPLICATION_DB=skillmatch_application
FILE_DB=skillmatch_file
NOTIFICATION_DB=skillmatch_notification
REDIS_PORT=6379