server:
  port: 8082

spring:
  application:
    name: resume-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB

ai:
  service:
    url: http://localhost:8000
