:root {
  --color-primary: #305669;   /* Dark blue text */
  --color-accent:  #8ABEB9;   /* Teal (buttons) */
  --color-warm:    #C1785A;   /* Warm orange (register buttons) */
  --color-bg:      #FFF9F3;   /* Soft beige background */

  --color-white: #ffffff;
  --color-border: #E5DFDA;    /* light border used in recruiter dashboard */
  --color-red: #c94e4e;
}
